body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 20px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}
